


















@font-face {
    font-family: RobotoRegular ;
    src: url(./assets/fonts/Roboto-Regular.ttf)
    format(TrueType);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:RalewayBold;
    src: url(assets/fonts/Raleway-Bold.ttf)
    format(TrueType);
     font-weight: 400;
    font-style: normal;
}









    
    .button-holder {
        text-align: center;
    }



   





   

   

    #roboto {
        font-size: 14px;
        font-weight: bold;
    }


    
    

   

   

  

    

    

    

   














.ulfooter{
    margin-left: 215px;
}






















.svg-footer2 {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    text-align: center;
    position: absolute;
    fill: white;
    right:10px;
    bottom: 10px;
}

.forme-holder2 {
    margin-top:83px;
}



































/* ПОРТФОЛІО */

.header {
    border-bottom: 1px solid #ECECEC;
}

.a1 {
   color: #2196F3;
   font-family: Raleway-Bold;
}

span {
    font-family: Raleway-Bold;
}

.Uli2 {
    font-family:RobotoRegular;
}

.a3 {
    color:#2196F3 ;
    font-family:RobotoRegular
}

.TelM {
    color:#757575 ;
    font-family:RobotoRegular
}




















.telF3 {
    color: #757575;
    font-family: RobotoRegular;
}

.a2 {
   color: #2196F3;
   font-family: Raleway-Bold;
}

#p {
    font-family:RobotoRegular ;
}

.a3 {
    color: #2196F3;
}

.a4 {
    color: #757575;
    font-family: RobotoRegular;
}

.telF3 {
    color: #757575;
    font-family: RobotoRegular;
}

.Uli2 a {
    color: #000000;
}

.Uli3 a {
    color: #000000;
}






   

 

 .img-holder-img{
    margin: 24px  auto 26px;
    display: block;
    
 }

 .img-holder:hover{
    border-color: #2196F3;
    border-width: 0.5px;

 }

 .svg {
    fill: #757575;
 }

 

 .f-list-li:hover {
    border-color: #2196F3;
 }


 /* MODAL */





.container2 {
width: 448px;

margin-left: 40px;
}
 






 .input-setting {
height: 40px;
width: 448px; 
border-radius: 4px;

}




.modal-svg {
    height: 18px;
    width: 18px;
}













.text-div {
    width: 322px;
    height: 168px;
    
}










