.mobile-menu {
    width:100vw;
    height: 100vh;
        background-color: aqua;
        position: fixed;
        z-index: 40;
        padding: 40px;
    @media (min-width: 768px) {
        display: none;
    }

    transition: transform 250ms linear;
}

.open-mobileMenu {
    @media (min-width:768px) {
        display: none;
    }

    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    margin: auto 0;
}

.is-hidden-mob {
     transform: translateX(100%);
}

