.footerMain {
    background-color: #2F303A;
    padding-bottom: 50px;
    @media (max-width:1199px) {
        padding-bottom: 306px;
        position: relative;
    }
}

.contacts-footer {
    display: flex;
    @media (max-width:1199px) {
     justify-content: space-between;
     margin-left: 50px;
     margin: 0 auto;
    }

    @media (max-width:767px) {
        display: block;
        text-align: center;
    }
}

.footer-list {
    margin-right: 70px;
      @media (max-width:767px) {
    margin-right: 0px;
    }
}   

.aMain2 
{
    color:#2196F3;
    font-family:RalewayBold;
    font-size: 26px;
    margin-bottom: 20px;
    display: block;
    padding-top: 60px;

    
}

#spanf {
    font-size: 26px;
    color: white;
    font-family:RalewayBold;
}

.footer-li:first-child{
    margin-top: 20px;
    font-size: 14px;
}

.networks2 {
    
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:1199px) {
        padding-bottom: 24px;
    }

    @media (max-width:767px) {
       justify-content: center;
    }

}

.footer-li {
     @media (max-width:1199px) {
       margin-bottom: 20px;
    }
}

#p {
    font-family: RobotoRegular;
    color: white;
     
}

.gm{
    margin-top: 9px;
    margin-bottom: 9px;
     @media (max-width:1199px) {
       margin-bottom: 20px;
    }
}

.mailto {
    color: #757575;
    font-family: RobotoRegular;
}

.Tel2 {
    color:#757575;
    font-family:RobotoRegular ;
    
}

.join {
    margin-right: 93px;
     @media (max-width:767px) {
        margin:0 auto;
    }
}

.fh4 {
    margin-top: 72px;
    font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-transform: uppercase;
color:white;
}

.networks-li1 {
    height: 44px;
    width: 44px;
    margin-right: 10px;
    transition: background-color 250ms ease-out;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 0.1);
    border-radius:50%;
    background-color: #2F303A;
    margin-top: 20px;
}

.networks-li1:hover {
    cursor: pointer;
    background-color: #2196F3;
}

.networks-svg1 {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 13px;
    margin-bottom: 13px;
    fill: white;
}

.forme-holder {
    margin-top: 72px;
}


.forme-holder2 {
    @media (max-width:1199px) {
        position: absolute;
        top: 200px;
        display: block;
        text-align: center; 
        margin-left: 120px;
    }

      @media (max-width:767px) {
     top: 400px;  
     margin-left: 0;
    }
}


.form-h4{
    margin-bottom:20px;
    color: #ECECEC;
    @media (max-width:1199px) {
    }
}

.input-footer {
    height: 50px;
    width: 358px;
    border-radius: 4px;
     border-color: rgba(255, 255, 255, 0.3);
     background-color: #2F303A;
     color: #ECECEC;
     font-size: 16px;
     padding-left:16px;
     padding-right: 5px;
      @media (max-width:1199px) {
        display: block;
        margin:auto;
        width: 450px;
    }

    @media (max-width:767px) {
        width: 410px;
    }
}

.footer-button {
    margin-top: 15px;
}