.sectionClients-list{
    padding-bottom: 94px;
    display: flex;
}

.sectionClients-h2{
    margin-top:94px ;
    margin-bottom:50px ;
    margin-left: 453px;
    font-size: 36px;
        font-weight: bold;
        letter-spacing: 3%;
   
}

.section-f-list{
    display: flex;
}

.sectionClients-list-li{
    width: 170px;
    height: 92px;
    margin-right:30px ;
    border-radius: 4px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #ECECEC;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionClients-list-li:nth-last-child {
    margin-right:0 ;
 }

 .sectionClients-list-li:hover .svg {
    fill: #2196F3;
 }

  .sectionClients-list-li:hover {
    border-color: #2196F3;
 }

  .svg {
        margin-top: 22px;
         transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .svg1 {
        width: 41px;
        height: 46px;
        margin-left: 64px;
    }

    
    .svg2 {
         width: 40px;
        height: 52px;
        margin-left: 65px;
    }
    
    .svg3 {
         height: 41px; 
         width: 43px;
         margin-left: 63px;
  }

    
    .svg4 {
        width: 84px;
        height: 40px;
        margin-left: 43px;
    }

    
    .svg5 {
        width: 62px;
        height: 45px;
        margin-left: 54px;
    }

    
    .svg6 {
        width: 93px;
        height: 43px;
        margin-left: 38px;
    }
