.section2Main-list {
        display: flex;
        margin-top: 87px;
       font-family: RobotoRegular;
    }

    .section2Main-list-li {
        margin-right:2rem;
    }

    .section2Main-list-li:nth-child(1)::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/assets/img/antenna1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA ;
    margin-bottom:30px;
    border-radius: 4px;
}

.section2Main-list-li:nth-child(2)::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/assets/img/clock1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA ;
    margin-bottom:30px;
    border-radius: 4px;
}

.section2Main-list-li:nth-child(3)::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/assets/img/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA ;
    margin-bottom:30px;
    border-radius: 4px;
}

.section2Main-list-li:nth-child(4)::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(/assets/img/astronaut1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA ;
    margin-bottom:30px;
    border-radius: 4px;
}

 .section2Main-h3{
        text-transform:uppercase;
        margin-bottom: 10px;
    }

     .section2Main-p{
        color: #757575;
        line-height: 24px;
        letter-spacing: 3%;
    }