.PortfolioMain-list{
    font-family:RobotoRegular;
    display: flex;
    @media(max-width: 767px) {
     flex-wrap: wrap;
    }
}

.PortfolioMain-list a {
    color: #000000;
}

.PortfolioMain-navigation {
     margin-bottom: 50px;
    margin-top: 94px;
    display: flex;
    justify-content: center;
    @media (max-width:1199px) {
        margin-bottom:36px;
        margin-top:66px;
    }
}

.button-nav {
    margin-right: 8px;
    height: 38px;
    padding: 6px 25px;
    border-radius: 4px;
    font-weight: 500;
    border-width: 0;
}

.PortfolioMain-list-li:nth-child(n + 4) {
    @media (max-width:767px) {
        margin-top: 15px ;
}
}

.button-nav:focus {
    @extend %button-focus-placeholder 
}

.button-nav:focus a {
    color: white;
}

.button-nav{
    background-color: #F5F4FA;
    @include fonts( 400, 16px, RobotoRegular, normal)
}
